---
import FormContact from "../components/contact/FormContact.astro";
import Experience from "../components/experience/Experience.astro";
import Perfil from "../components/Perfil.astro";
import MainLayout from "../layouts/MainLayout.astro";

---

<MainLayout title="Jaime JB">
  <main
  class="flex flex-col items-center justify-center gap-4 col-span-3 sd:col-span-1 p-5"
  >
    <Perfil />
    <Experience />
    <FormContact/>
  </main>
</MainLayout>

<script>
  const initObserver = () => {
    const sections = document.querySelectorAll("div[id]");
    const navLinks = document.querySelectorAll(".nav-link");

    const observerOptions = {
      rootMargin: "-20% 0px -70% 0px",
      threshold: 0,
    };

    const observer = new IntersectionObserver((entries) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const id = entry.target.getAttribute("id");
          navLinks.forEach((link) => {
            link.classList.toggle(
              "active",
              link.getAttribute("href") === `#${id}`,
            );
          });
        }
      });
    }, observerOptions);

    sections.forEach((section) => observer.observe(section));
  };

  initObserver();

  document.addEventListener("astro:page-load", initObserver);
</script>
