---
import { Image } from "astro:assets";
import { Content } from "../content/perfil.md";
import photo from "../assets/imgs/jaime.png";
import SectionLayout from "../layouts/SectionLayout.astro";
---

<SectionLayout>
  <h2 class="md:hidden font-bold text-3xl text-start w-full mb-2">Perfil</h2>
  <div id="perfil" class="flex flex-col xl:flex-row justify-center items-center">
    <Image
      class="w-xs object-cover mask-alpha mask-l-from-black mask-l-from-40% mask-r-to-transparent"
      src={photo}
      alt="Me"
    />
    <article>
      <Content />
    </article>
  </div>
</SectionLayout>
